<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradutor de PDF</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<nav>
    <img src="/static/imagem/logo.png" width="100px" alt="Logo">
 
</nav>
<section>
<h1> Tradução Simples e Eficiente de Documentos em PDF</h1>

<div class="facilidade">
    Facilitamos a tradução de documentos em PDF de maneira rápida e precisa. Com Traduz PDF, sua experiência de tradução se torna eficaz, preservando a formatação original e garantindo a confidencialidade dos seus arquivos.

</div>

<div class="recurso">
    
    <h3>Recursos Principais:</h3>

    Tradução Rápida e Precisa: Utilizamos tecnologias avançadas para traduções ágeis, mantendo a integridade do conteúdo original.
    
    Suporte a Múltiplos Idiomas: Traduza para uma variedade de idiomas populares e menos comuns.
    
    Preservação de Formatação: Mantemos a formatação do seu documento para uma apresentação visual impecável.

</div>

<div class="como">
    <h1>Como Funciona:</h1>

    Faça o Upload do Seu PDF: Carregue seu documento em PDF em nosso sistema.
    
    Escolha o Idioma de Destino: Selecione o idioma desejado para a tradução.
    
    Revisão e Download: Revise a tradução e faça o download do PDF traduzido com facilidade.

</div>


Por Que Escolher Traduz PDF?

Eficiência e Qualidade: Traduções rápidas e eficientes sem comprometer a qualidade.

Acessibilidade: Tornamos a tradução de PDFs acessível a todos, independentemente da experiência técnica.

Experimente Agora:

Simplifique a comunicação global com [Nome do Seu Tradutor de PDF]. Experimente hoje mesmo.
</section>

    <h1>Tradutor de PDF</h1>
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="submit">Traduzir</button>
    </form>
</body>
</html>
